.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.form1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.genderSelection {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.courseSelection {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  padding: 8px;
  width: 150px;
  background-color: aliceblue;
  border: 1px solid rgb(95, 172, 240);
}

button:hover {
  background-color: rgb(216, 235, 252);
  border: 1px solid aliceblue;
}

@media screen and (max-width: 765px) {
  .main {
    flex-direction: column;
    gap: 50px;
  }
}
