nav {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ef6c00;
  border-radius: 0px 0px 10px 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
a {
  text-decoration: none;
  color: #ef6c00;
  transition: 0.2s ease-out;
}
nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fff3e0;
}
@media screen and (max-width: 460px) {
  nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
