.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #ef6c00;
  margin-top: 50px;
}
.addingTasks {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ef6c00;
}
.addingTasks input {
  padding: 8px;
  padding-inline-start: 20px;
  border: 1px solid #ef6c00;
  border-radius: 10px;
  color: #ef6c00;
}

.addingTasks button {
  padding: 8px;
  border: 1px solid #ef6c00;
  border-radius: 20px;
  color: white;
  font-size: 25px;
  background-color: #ef6c00;
}
.display {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.display .box {
  background-color: white;
  color: #ef6c00;
  padding: 5px;
  display: flex;
  border: 1px solid #ef6c00;
  border-radius: 10px;
  margin-top: 10px;
}
.box li {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.spans {
  width: 350px;
}
hr {
  border: 1.5px dashed #ef6c00;
  width: 90px;
}
/* input[type="checkbox"]:checked + .spans span {
  text-decoration: line-through;
}

/* Styling for the box when checkbox is checked */
/* input[type="checkbox"]:checked ~ div {
  background-color: #f2f2f2;
} */
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* input[type="checkbox"] {
  margin-right: 10px;
} */

/* span {
  display: block;
} */
@media (max-width: 460px) {
  .display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .spans {
    text-align: justify;
    overflow: hidden;
    width: 150px;
  }
}
